body {
    font-size: 16px;
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

main {
    box-sizing: border-box;
    width: calc(100% - 240px);
}

header, div#content, article#source {
    display: flex;
    align-items: flex-start;
}

article#source > :last-child {
    flex-grow: 1;
}

.flashes, .warning {
    color: red;
}

li.preview-container {
    position: relative;
    margin-bottom: 4px;
    width: 192px;
    height: 273px;
    border: 1px solid gray;
}

article#source > img.preview-image {
    border: 1px solid gray;
}

img.preview-image,
div.preview-info {
    width: 192px;
}

li.preview-container > .source-page-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background: lightgray;
}

div.preview-info {
    z-index: 5;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    max-height: 80%;
    overflow: hidden;
    padding: 4px;
    background: transparent;
}

li.preview-container:not(:hover):not(:focus-within) > div.preview-info,
li.preview-container:not(:hover):not(:focus-within) > div.preview-info a {
    color: transparent;
}

div.preview-info > h3 {
    margin: 0;
}

div.preview-info > ul {
    padding: 0;
    list-style: none;
}

li.preview-container:hover > div.preview-info,
li.preview-container:focus-within > div.preview-info {
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
}

aside {
    box-sizing: border-box;
    min-width: 240px;
    width: 240px;
    padding-inline-end: 8px;
    position: sticky;
    top: 0;
}

fieldset {
    margin-bottom: 8px;
}

fieldset > legend {
    font-weight: bold;
}

div#description, div#plugin-notes {
    margin-inline-start: 8px;
}

#all-feeds:not(.noflex) {
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 4px;
}

#all-feeds:not(.noflex) > li {
    display: inline;
}

.update-source input[name="url"] {
    width: calc(100% - 320px);
}

.source-select {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

input#source-url {
    width: calc(100% - 16em);
}