<!DOCTYPE html>
<html>
<head>
    {%- if source_title %}
    <title>{{ source_title }} - Syndictive</title>
    {%- else %}
    <title>Syndictive</title>
    {%- endif %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <script>
    function sendRequest(url, method, goHome=false) {
        var xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.onloadend = () => {
            if (goHome) location.href = "{{ url_for('index') }}";
            else location.reload(true);
        }
        xhr.send();
    }
    </script>
    {%- block head_extensions %}
    {%- endblock %}
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Syndictive</a></h1>
        <div>
            <ul class="flashes">
            {%- with messages = get_flashed_messages() %}
              {%- if messages %}
                {%- for message in messages %}
                <li><strong>{{ message }}</strong></li>
                {%- endfor %}
              {%- endif %}
            {%- endwith %}
            </ul>
        </div>
    </header>
    <div id="content">
        <aside>
            <h2>Actions</h2>
            <fieldset>
                <legend>Search</legend>
                <form method="GET" action="{{ url_for('index') }}">
                    <input type="text" name="q" {%- if q -%}value="{{ q }}"{%- endif -%} /><br>
                    <input type="submit" value="Search" />
                </form>
            </fieldset>
            <fieldset>
                <legend>Add source</legend>
                <form method="POST" action="{{ url_for('add_source') }}">
                    <input type="text" name="url" /><br>
                    <span>Plugin:<span> <select name="plugin">
                        <option value="">Auto</option>
                    {%- for plugin_name in plugin_names %}
                        <option value="{{ plugin_name }}">{{ plugin_name }}</option>
                    {%- endfor %}
                    </select><br>
                    <input type="submit" value="Add source" />
                </form>
            </fieldset>
            <ul class="actions">
                <li><a onclick="sendRequest('{{ url_for('rebuild_feeds') }}', 'POST');" href="#">Rebuild feeds</a></li>
                <li><a href="{{ url_for('opml') }}">Export to OPML</a></li>
                {%- if akregator_integration %}
                <li><a href="{{ url_for('akregator') }}">Export to Akregator</a></li>
                {%- endif %}
                <li><a href="{{ url_for('config_') }}">Get current configuration</a></li>
                <li><a onclick="sendRequest('{{ url_for('config_') }}', 'POST');" href="#">Reload configuration</a></li>
                <li><a href="{{ url_for('cleanup') }}">Clean up database and configuration</a></li>
                <li><a href="{{ url_for('semaphore') }}">Clear processing sources semaphore</a></li>
                <li><a href="{{ url_for('stats') }}">Stats</a></li>
            </ul>
            {%- block aside_extensions %}
            {%- endblock %}
        </aside>
        <main>
        {%- block main %}
        {%- endblock %}
        </main>
    </div>
</body>
</html>
