{% extends "base.jinja" %}
{%- block head_extensions %}
    <script>
    var selectedSourcesActionsDiv;
    var selectedSourcesCount;

    window.onload = function() {
        selectedSourcesActionsDiv = document.getElementById("selected-sources-actions");
        selectedSourcesCount = document.getElementById("selected-sources-count");
        let checkboxes = document.querySelectorAll("input.source-select");
        checkboxes.forEach((checkbox) => {
            checkbox.oninput = toggleSelectedSourcesVisiblity;
        });
        toggleSelectedSourcesVisiblity();
    };

    function toggleSelectedSourcesVisiblity() {
        let selectedCheckboxes = document.querySelectorAll("input.source-select:checked");
        if (selectedCheckboxes.length) {
            selectedSourcesActionsDiv.classList.remove("hidden");
            selectedSourcesCount.innerText = selectedCheckboxes.length;
        }
        else selectedSourcesActionsDiv.classList.add("hidden");
    }

    function deleteSelected() {
        let selectedCheckboxes = document.querySelectorAll("input.source-select:checked");
        for (let i = 0; i < selectedCheckboxes.length; i++) {
            let checkbox = selectedCheckboxes[i];
            let sourceUrl = checkbox.value;
            if (!sourceUrl) {
                continue;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", sourceUrl);
            xhr.onloadend = () => {
                if (i === selectedCheckboxes.length - 1) location.reload(true);
            };
            xhr.send();
        }
    }

    function rebuildSelected() {
        let selectedCheckboxes = document.querySelectorAll("input.source-select:checked");
        for (let i = 0; i < selectedCheckboxes.length; i++) {
            let checkbox = selectedCheckboxes[i];
            let rebuildUrl = checkbox.getAttribute("rebuildurl");
            if (!rebuildUrl) {
                continue;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("GET", rebuildUrl);
            xhr.onloadend = () => {
                if (i === selectedCheckboxes.length - 1) location.reload(true);
            };
            xhr.send();
        }
    }
    </script>
{%- endblock %}
{%- block main %}
            {%- if not q %}
            <h2>Sources</h2>
            {%- else %}
            <h2>Search</h2>
            {%- endif %}
            {%- if sources %}
            {%- if q %}
            <h3>{{ sources|length }} results found for <strong>{{ q }}</strong></h3>
            {%- else %}
            <h3>{{ sources|length }} total</h3>
            {%- endif %}
            {%- if text_only == True %}
            <ul id="all-feeds" class="noflex">
            {%- for source_id, source in sources.items() %}
                <li>
                    <a href="{{ url_for('source_', source_id=source_id) }}">{{ source.title or source.url|e }}</a>
                    <input type="button" onclick="sendRequest('{{ url_for('source_', source_id=source_id) }}', 'DELETE', false);" value="Delete" />
                </li>
            {%- endfor %}
            {%- else %}
            <ul id="all-feeds">
            {%- for source_id, source in sources.items() %}
                <li class="preview-container">
                    <input class="source-select" type="checkbox" rebuildurl="{{ url_for('rebuild_feed', source_id=source_id) }}" value="{{ url_for('source_', source_id=source_id) }}" />
                    <div class="preview-info">
                        <h3>{{ source.title or source.url or 'None'|e }}</h3>
                        <ul>
                            {%- if source.plugin %}
                            <li><a href="{{ source.url or 'None' }}">Source page ({{ source.plugin }})</a></li>
                            {%- else %}
                            <li><a href="{{ source.url or 'None' }}">Source page</a></li>
                            {%- endif %}
                            {%- if source.rss %}
                            <li><a type="application/rss+xml" href="{{ url_for('feed', source_id=source_id) }}">RSS feed</a></li>
                            {%- elif source.atom %}
                            <li><a type="application/atom+xml" href="{{ url_for('feed', source_id=source_id) }}">Atom feed</a></li>
                            {%- else %}
                            <li>Feed is not built yet!</li>
                            {%- endif %}
                        </ul>
                    </div>
                    <a class="source-page-link" href="{{ url_for('source_', source_id=source_id) }}">
                        <img class="preview-image" src="{{ url_for('preview', source_id=source_id) }}" alt="{{ title }}" />
                    </a>
                </li>
            {%- endfor %}
            {%- endif %}
            </ul>
            {%- elif q %}
            <p>No search results were found for <strong>{{ q }}</strong></p>
            {%- else %}
            <p>It looks like you don't have any sources.</p>
            <p>Usage tips for Syndictive will appear here eventually.</p>
            {%- endif %}
{%- endblock %}
{%- block aside_extensions %}
            <br>
            <fieldset id="selected-sources-actions" class="hidden">
                <legend><span id="selected-sources-count">0</span> selected source(s)</legend>
                <input id="rebuild-selected-sources" type="button" value="Rebuild" onclick="rebuildSelected();" />
                <input id="delete-selected-sources" type="button" value="Delete" onclick="deleteSelected();" />
            </fieldset>
{%- endblock %}