<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
<head>
<title>Syndictive</title>
</head>
<body>
    {%- for domain, folder_items in opml_items_by_domain.items() %}
    <outline title={{ domain }} text={{ domain }}>
        {%- for feed_url, source_title in folder_items.items() %}
        <outline text={{ source_title }} title={{ source_title }} type="rss" 
                 xmlUrl="{{ feed_url }}" htmlUrl="{{ feed_url }}"/>
        {%- endfor %}
    </outline>
    {%- endfor %}
    </body>
</opml>
