{% extends "base.jinja" %}
{%- block head_extensions %}
    {%- if source.rss %}
    <link rel="alternate" type="application/rss+xml" title="{{ source_title }}" href="{{ url_for('feed', source_id=source_id) }}"/>
    {%- elif source.atom %}
    <link rel="alternate" type="application/atom+xml" title="{{ source_title }}" href="{{ url_for('feed', source_id=source_id) }}"/>
    {%- endif %}
{%- endblock %}
{%- block main %}
            <h2>{{ source.title or source.url or source_id|e }}</h2>
            <article id="source">
                <img class="preview-image" src="{{ url_for('preview', source_id=source_id) }}" />
                <div>
                    <ul>
                        <li>
                            <form class="update-source" method="POST" action="{{ url_for('source_', source_id=source_id) }}">
                                <span><a href="{{ source.url or '#' }}">Source page:</a><span>
                                <input id="source-url" type="text" name="url" value="{{ source.url or '#' }}" />
                                <input type="submit" value="Change URL" />
                            </form>
                        </li>
                        {%- if source.rss %}
                        <li><a type="application/rss+xml" href="{{ url_for('feed', source_id=source_id) }}">RSS feed</a></li>
                        {%- elif source.atom %}
                        <li><a type="application/atom+xml" href="{{ url_for('feed', source_id=source_id) }}">Atom feed</a></li>
                        {%- else %}
                        <li>Feed is not built yet!</li>
                        {%- endif %}
                        {%- if source %}
                        <ul>
                            {%- if source.last_checked %}
                            <li>Source last checked on {{ source.last_checked }}</li>
                            {%- endif %}
                            {%- if source.error %}
                            <li class="warning">An error occurred when last building this feed: {{ source.error }}</li>
                            {%- endif %}
                            {%- if not source.num_items %}
                            <li class="warning">Warning: Feed is empty!</li>
                            {%- else %}
                            <li>Number of items: {{ source.num_items }}</li>
                            {%- endif %}
                        </ul>
                        {%- endif %}
                        <li><a href="{{ url_for('rebuild_feed', source_id=source_id) }}">Rebuild feed</a></li>
                        <li>
                            <form class="update-source" method="POST" action="{{ url_for('source_', source_id=source_id) }}">
                                <span>Plugin:<span> <select name="plugin">
                                    <option value="">Auto</option>
                                    {%- for plugin_name in plugin_names %}
                                    {%- if plugin_name == source.plugin %}
                                    <option value="{{ plugin_name }}" selected>{{ plugin_name }}</option>
                                    {%- else %}
                                    <option value="{{ plugin_name }}">{{ plugin_name }}</option>
                                    {%- endif %}
                                    {%- endfor %}
                                </select>
                                <input type="submit" value="Change plugin" />
                            </form>
                        </li>
                        <li>
                            <input type="button" onclick="sendRequest('{{ url_for('preview', source_id=source_id) }}', 'DELETE', false);" value="Delete preview image" />
                        </li>
                        <li>
                            <details>
                                <summary>Delete</summary>
                                <details>
                                    <summary>Are you sure?</summary>
                                    <input type="button" onclick="sendRequest('{{ url_for('source_', source_id=source_id) }}', 'DELETE', true);" value="Delete" />
                                </details>
                            </details>
                        </li>
                    </ul>
                    {%- if source.description %}
                    <div id="description">
                        <h3>Description</h3>
                        <p>
                            {{ source.description|e }}
                        </p>
                    </div>
                    {%- endif %}
                    {%- if source_plugin.notes %}
                    <div id="plugin-notes">
                        <h3>Plugin notes</h3>
                        {{ source_plugin.notes }}
                    </div>
                    {%- endif %}
                </div>
            </article>
{%- endblock %}
