{% extends "base.jinja" %}
{%- block main %}
            <h2>Stats</h2>
            {%- if total_sources %}
            <h3>Total sources: {{ total_sources }}</h3>
            {%- endif %}
            {%- if warnings %}
            <h3>Sources with errors: {{ warnings|length }}</h3>
            <ul>
            {%- for source_id, source_title in warnings.items() %}
                <li>
                    <a href="{{ url_for('source_', source_id=source_id) }}">{{ source_title }}</a>
                </li>
            {%- endfor %}
            </ul>
            {%- endif %}
            {%- if sources_by_plugin %}
            <h3>Sources by plugin</h3>
            <ul>
            {%- for plugin_name, plugin_count in sources_by_plugin.items() %}
                <li>
                    {{ plugin_name }}: {{ plugin_count }}
                </li>
            {%- endfor %}
            </ul>
            {%- endif %}
            {%- if plugin_names %}
            <h3>Available plugins</h3>
            <ul>
            {%- for plugin_name in plugin_names %}
                <li>
                    {{ plugin_name }}
                </li>
            {%- endfor %}
            </ul>
            {%- endif %}
{%- endblock %}
